.category-component_container {
  width: 24%;

  .category-component_header {
    text-align: center;
    color: royalblue;

    margin: 0;
  }
  .category-component_body {
    background: #f1f1f1;
    height: 81vh;
    overflow-y: scroll;
    border: 1px solid black;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
