.header-component_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .header-component_left {
    margin-left: 2rem;
    font-weight: 700;
    color: royalblue;
    font-size: 2.5rem;
  }
  .header-component_right {
    flex-basis: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
