.spinner {
  margin: auto;
  width: 250px;
  height: 250px;
  border: 30px solid lightgray;
  border-top: 30px solid royalblue;
  border-radius: 50%;
  animation: spin-loader 2s linear infinite;
}
@keyframes spin-loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
